@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
        height: 100vh;
        box-sizing: border-box;
        background-color: black;
        color: rgb(255, 255, 255);
}

.titulo-destaque {
        color: #ff0000;
        
}

.conteudo {
        margin: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.apresentacao-conteudo {
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 40px;
}

.apresentacao-conteudo-titulo {
        font-size: 36px;
        font-family: 'Krona One', 'sans-serif';
}

.apresentacao-conteudo-paragrafo {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;    
}

.apresentacao-links {
        display:flex;
        justify-content: space-between;
}

.botao {
        background-color: #ff0000;
        color: rgb(0, 0, 0);
        width: 400px;
        text-align: center;
        border-radius: 25px;
        font-size: 40px;
        padding: 20px 0;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif; 
        margin: 30px;
}

.imagem {
        max-width: 30%;
        width: auto;
}