@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
        height: 100vh;
        box-sizing: border-box;
        background-color: rgb(0, 0, 0);
        color: white;
}

.titulo-destaque {
        color:#22d4fd;
}

.conteudo {
        margin: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.apresentacao-conteudo {
        width: 615px;
}

.apresentacao-conteudo-titulo {
        font-size: 46px;
        font-family: 'Krona One', 'sans-serif';
}
 .apresentacao-conteudo-paragrafo {  
       font-size: 36px;
       font-family: "Montserrat", sans-serif;
 }


      .apresentacao-links {
               display:flex;
               justify-content: space-between;
 }

 .botao {
    background-color: #04b0ff;    
         color: #fff;      
            width: 280px;     
                text-align: center;       
                  border-radius: 16px;    
                       font-size: 24px;    
                            padding: 21.5px 0;      
                               text-decoration: none;  
                                      font-family: 'Montserrat', sans-serif; 
                                              border: none;    
                                                   cursor: pointer;   
                                                         transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Adicione regras de mídia para ajustar o tamanho do botão em telas menores */
@media (max-width: 768px) {
  .botao {
    font-size: 4vw; /* Tamanho da fonte para telas menores */
    padding: 2% 0; /* Padding para telas menores */
  }
}
.imagem{
       max-width: 100%;
       width: auto;
       margin-left: 30px;
       margin-right: 30px;
    }
